h1 { 
		text-align: center;
		 border-style: solid;
		 border-width:medium;
		 border-color: black;
}

p{
	text-align: center;
}

#image {
					height:30%;
}

form {
	background-color:black;
	height:5%;
	color: white;
	text-align: center;
}
footer, {
	text-align: center;
}


.buttonColor{
	background-color:white;
	:solid;
}
